---
import Main from "../layouts/main.astro";
import Card from "../components/Card.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Main>
	<Card title="Myshen" date="1st of February 2024">
		At the turn of the year, a teenage Ethan Xu, the founder of the soon-to-be Xuman Labs, goes on vacation with his family to the heart of the Amazon Rainforest. Here, he gets separated from the rest of the tour group. Ethan came across a group of grey, rocky formations, but they felt slimy to the touch. At present-day Xuman labs, we know these were alive body segments of an underdeveloped ancient pecten. Mr Xu also reported seeing many unique types of flora growing sporadically, dying, and giving way to more life. The most amazing location he discovered was the plains of Myshen, an ever-expansive pocket of space enclosed within a 10km radial area. So far, about 30 hectares of Myshen have been explored.
	</Card>
	<Card title="Formation of Xuman Labs" date="3rd of October 2024">
		Ethan Xu had abandoned his parents after being awestruck by the varieties of unknown fauna and flora; leading him to stay in the local town of Manaus. He joined a few occult groups to see if they had breached into the otherworldly region. Surprisingly, most hadn’t apart from one. This group had given the region its name; the Myshen, named after one of its members who was lost during their first expedition of the region. During Ethan’s time in the group, he ventured frequently into the Myshen on expeditions, bringing back relics from further and further within. Xuman labs started from the exploitation of these relics, some had effects from their presence, some could be used to aid or harm, and some granted their uses supernatural abilities. 
	</Card>
	<Card title="Sirrush" date="7rd of March 2036">
		Years later, after Xuman labs had been formed by Ethan, he had a son, Brandon Xu. During this time, a large facility had formed around the perimeter of Myshen. Twelve years of innovation and research on relics have allowed Xuman labs to grow into an internationally recognised group and supply technology and arms to nations worldwide. The latest finding was a species of a relatively primitive humanoid creature; nicknamed Sirrush by laboratory staff; ‘Sirrush’ is a name taken from Babylonian beliefs relating to a fantastical creature depicted to guard the Ishtar Gate of Babylon. As such, Sirrush is very defensive, but we have great expectations for the sentinel project. Xuman labs project a 10% growth over the next quarter.
	</Card>
</Main>