---
import Main from "../layouts/main.astro";
import Card from "../components/Card.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Main>
	<Card title="Discovery" date="1st of February 2024">
		<p>
			At the turn of the year, a teenage Ethan Xu, the founder of the
			soon-to-be Xuman Labs, goes on vacation with his family to the heart
			of the Amazon Rainforest. Here, he gets separated from the rest of
			the tour group. Ethan came across a group of grey, rocky formations,
			but they felt slimy to the touch. At present-day Xuman labs, we know
			these were alive body segments of an underdeveloped ancient pecten.
			Mr Xu also reported seeing many unique types of flora growing
			sporadically, dying, and giving way to more life. The most amazing
			location he discovered was the plains of Myshen, an ever-expansive
			pocket of space enclosed within a 10km radial area. So far, about 30
			hectares of Myshen have been explored.
		</p>
		<br />
		<p>
			One of our researchers has decided to, pay homage, and re-enact
			Ethan Xu's stumbling through the jungle.
		</p>
		<iframe
			class="w-3/4 aspect-[1920/1080] flex pt-2"
			src="/xumanlabs/ethanchild.mp4"></iframe>
		<p>Ethan Xu finding the edge of the Myshen:</p>
		<iframe
			class="w-3/4 aspect-[1280/960] flex pt-2"
			src="/xumanlabs/clearing.mp4"></iframe>
	</Card>
	<Card title="Formation of Xuman Labs" date="3rd of October 2024">
		Ethan Xu had abandoned his parents after being awestruck by the
		varieties of unknown fauna and flora; leading him to stay in the local
		town of Manaus. He joined a few occult groups to see if they had
		breached into the otherworldly region. Surprisingly, most hadn’t apart
		from one. This group had given the region its name; the Myshen, named
		after one of its members who was lost during their first expedition of
		the region. During Ethan’s time in the group, he ventured frequently
		into the Myshen on expeditions, bringing back relics from further and
		further within. Xuman labs started from the exploitation of these
		relics, some had effects from their presence, some could be used to aid
		or harm, and some granted their uses supernatural abilities.
		<iframe
		class="w-3/4 aspect-[1280/960] flex pt-2"
		src="/xumanlabs/worship.mp4"></iframe>
	</Card>
	<Card title="Sirrush" date="7rd of March 2036">
		<p>
			Years later, after Xuman labs had been formed by Ethan, he had a
			son, Brandon Xu. During this time, a large facility had formed
			around the perimeter of Myshen. Twelve years of innovation and
			research on relics have allowed Xuman labs to grow into an
			internationally recognised group and supply technology and arms to
			nations worldwide. The latest finding was a species of a relatively
			primitive humanoid creature; nicknamed Sirrush by laboratory staff;
			‘Sirrush’ is a name taken from Babylonian beliefs relating to a
			fantastical creature depicted to guard the Ishtar Gate of Babylon.
			As such, Sirrush is very defensive, but we have great expectations
			for the sentinel project. Xuman labs project a 10% growth over the
			next quarter.
		</p>
		<br />
		<p>
			Our researches have granted us audioclips of the Sentinel's
			vocalisations. While it may sound in pain, our group has established
			that it doesn't feel pain.
		</p>
		<audio controls src="/xumanlabs/sentinel.mp3"></audio>
		<audio controls src="/xumanlabs/sentinel_angered.mp3"></audio>
	</Card>
	<Card
		title="2036 Third Quarter Investors Update"
		date="30th of September 2036"
	>
		<p>
			We would like to pay respects to the Xu family; they have recently
			lost their father, Ethan Xu, to lung cancer. Xuman labs will be
			taken over by his son. Brandon Xu. We have been assured by Ethan
			that he is a prodigious individual and that he can lead the company
			to even greater heights.
		</p>
		<br />
		<iframe
			class="w-3/4 aspect-[1280/960] flex pt-2"
			src="/xumanlabs/death.mp4"></iframe>
		<iframe
			class="w-3/4 aspect-[1280/720] flex pt-2"
			src="/xumanlabs/death2.mp4"></iframe>
        <br>
        <br>
        <iframe
			class="w-3/4 aspect-[1280/720] flex pt-2"
			src="/xumanlabs/interview1.mp4"></iframe>
        <br>
        <p>Transcript:</p>
		<p>
			In Q2, Xuman labs was valued at 1.3 billion USD. We have grown 35%
			so far this quarter, putting us at a valuation of 1.76 billion USD.
			We are also considering an initial public offering to bring the
			company to a more prominent light.
		</p>
		<br />
		<p>
			Over on the technical side of things, our Research and Development
			teams working on the sentinel project are happy to confirm the
			completion of the Sentinel Project. We have major buyers from the
			Brazilian government, the United States Government, British
			Government, and the Russian Government. For those who don’t know
			what Sentinel is, we have converted (what we believe to be) an
			ancient race of humanoid aliens that reside within the Myshen. We
			have given it enhanced senses, including more sensitive hearing and
			eyesight; the creature has also been given sentience through a trade
			secret procedure that our ethics team has assured is morally
			correct.
		</p>
		<br />
		<p>
			Our Sentinel will be displayed at Xucon 2037 in our biotech research
			section. We look forward to you, our valuable investor, in being
			there.
		</p>
	</Card>
	<Card title="Incident Report 243: Breach" date="1st of May 2037">
		<p>
			Unfortunately, our little project has managed to breach containment.
			Sentinel managed to seduce one of the guards, leading him to have
			the keycard stolen. Sentinel went on a rampage around the facility,
			first cutting off the power in the electrical section. It took down
			twenty-three reserve officers in search of an escape. Sentinel will
			not be displayed at Xucon this year.
		</p>
		<br />
		<p>
			Thankfully, the gate was closed by a team of people composed of a
			news reporting crew and some ex-technicians. Due to our commitment
			to more transparency, we have made the event log public.
		</p>
		<br />
		<p>
			We would like to commemorate the lives of those who defended the
			Xuman labs’ Brazil site. Compensation will be handed out to family
			members or next of kin. Once again, we are deeply sorry for the
			lives lost.
		</p>
	</Card>
</Main>
