---
import Main from "../layouts/main.astro";
import Card from "../components/Card.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Main>
	<Card title="Brandon Xu and Researchers Discover Ancient Alien Race Deep Within The Amazon" date="10/5/22">
		TODO
	</Card>
	<Card title="Brandon Xu and Researchers Discover Ancient Alien Race Deep Within The Amazon" date="10/5/22">
		TODO
	</Card>

</Main>