<div class="text-white drop-shadow-xl bg-slate-700 h-14 pl-5">
    <img class="h-10 top-1/2 absolute -translate-y-1/2 aspect-[550/485]" src="/favicon.png" alt="">
    <div class="text-3xl pl-14 top-1/2 absolute -translate-y-1/2" style="font-family: 'Rubik', sans-serif;"><b>XUMAN LABS</b></div>
    <slot/>
</div>