<div class="py-5 text-white sticky drop-shadow-xl bg-slate-700 h-20 p-5 ">
    <img class="h-11 inline top-1/2 -translate-y-1/2 aspect-[550/485]" src="/favicon.png" alt="">
    <div class="justify-center inline w-full">
        <strong class="inline text-5xl pl-3" style="font-family: 'Rubik', sans-serif;">XUMAN LABS</strong>
    </div>
    <slot/>
</div>